@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  display: block;
}


li {
  list-style: none;  
}

:root {
  --color-background: #7FBBE4;
  --color-text: black;
}

.page-account {
  background-color: var(--color-background);
  min-height: 100vh;
  padding: 40px 0;  
}

.page-account .inner-top {
  margin: 0 0 30px 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.page-account .inner-top .inner-logo a img {
  width: auto;
  height: 120px;
}

.page-account .inner-top .inner-title {
  line-height: 1.4;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.page-account .inner-top .inner-title span {
  font-weight: 500;
}


.page-account .inner-middle {
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px; 
  background-color: #fff;
  border-radius: 24px;
  padding: 28px 25px;
}

.page-account .inner-middle .inner-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
}

.page-account .inner-form .inner-group {
  margin-bottom: 20px;
}

.page-account .inner-form .inner-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.page-account .inner-group .inner-input {
  background-color: #F1F4F9;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  border: 1px solid #D8D8D8;
  padding: 0 16px; 
  outline: none;
}

.page-account .inner-group .inner-input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: #A6A6A6;
}

.page-account .inner-form .inner-button {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: #3898d9;
  border: none;
  margin-top: 18px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.page-account .inner-form .inner-button:hover {
  background-color: #5d96bb;
}

.page-account .inner-bottom {
  text-align: center;
}

.page-account .inner-bottom .inner-copyright {
  font-size: 15px;  
  font-weight: 700;
  color: #fff;
}

.side {
  background-color: #7FBBE4;
  width: 240px;
  min-height: 100vh;
  padding: 35px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.side .inner-user {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 12px; 
  margin-bottom: 60px;
}

.side .inner-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.side .inner-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.side .inner-user .inner-name {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.side .inner-menu {
  background-color: #fff;
}

.side .inner-menu ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side .inner-menu ul li {
  width: 100%;
  text-align: center;
  border: 1px solid #accde3;
  padding: 15px 0;
}

.side .inner-menu ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #3898d9;
}

.side .inner-menu ul li:hover {
  background-color: #3898d9;
  color: #fff;
}

.side .inner-menu ul li:hover a {
  color: #fff;
}


.main {
  position: absolute;
  left: 240px;
  top: 0;
  width: calc(100% - 240px);
  min-height: 100vh;
  background-color: #f9faff;
}

.main .main-top {
  height: 130px;
  padding: 10px 40px 20px 40px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  /* border-bottom: 1px solid var(--color-background); */
  /* background-color: ; */
}

.main .main-top .inner-list-icon ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  align-items: center;
  position: absolute;
  top: 20;
  right: 70;
}

.main .main-top .inner-list-icon ul li a {
  font-size: 30px;
  font-weight: 900;
  color: var(--color-text);
}

.main .main-top .inner-list-icon ul li a:hover{
  color: #3898d9;
}

.main .main-top .inner-title {
  color: #3898d9;
  text-align: center;
  font-size: 40px;
}


.main .main-middle {
  overflow-y: auto;
  max-height: calc(100vh - 130px);
  padding: 70px 80px 50px 80px;
}

.main .main-middle .inner-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}

.box-class {
  width: 300px;
  height: 250px;
  border-radius: 24px;
  overflow: hidden;
}

.box-class a .inner-image {
  height: 65%;
  aspect-ratio: 332/180;
}

.box-class a .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-class .inner-info {
  background-color: var(--color-background);
  height: calc(100% - 65%);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box-class .inner-info span {
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.box-info .inner-title {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-background);
  margin-top: 0;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text);
}

.box-info .inner-part {
  display: flex;
  align-items: center;
}

.box-info .inner-part .inner-table {
  width: 560px;
  border: 3px solid #3898d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box-info .inner-group .inner-label {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 800;
  color: var(--color-text);
}

.box-info .inner-group .inner-display {
  font-size: 19px;
  font-weight: 300;
}

.inner-form-change {
  margin-top: 70px;
  display: flex;
}

.inner-form-change .inner-change-password {
  width: 560px;
}

.inner-form-change .inner-change-password .inner-title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
}

.inner-form-change .inner-group {
  margin-bottom: 15px;
}


.inner-form-change .inner-group .inner-label{
  display: block;
  margin-bottom: 10px;
}

.inner-form-change .inner-group .inner-input {
  width: 450px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-background);
  outline: none;
}

.inner-change-image .inner-image .inner-title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--color-background);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.custom-file-upload:hover {
  background-color: var(--color-background);
}

.inner-form-change .inner-button {
  border-radius: 20px;
  border: none;
  background-color: var(--color-background);
  width: 100px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 120;
  left: 450;
}

.inner-form-change .inner-button:hover {
  background-color: #0056b3;
}















